<div class="container">
  <div class="py-5 text-center">
    <!-- Search form -->
    <input
      class="form-control live-search"
      type="text"
      placeholder="Search"
      aria-label="Search"
      autocomplete="off"
      id="search"
    />
  </div>

  <div id="list" *ngIf="(result$ | async) as repos">
    <ul *ngFor="let repo of repos | slice:0:20">
      <li>
        <a [href]="repo.html_url" target="_blank">
          {{ repo.name }} with {{ repo.stargazers_count }} star(s))</a
        >
      </li>
    </ul>
  </div>
</div>
  
